{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name" style="font-weight: bold; font-size: 2rem; font-family: italic"><a href="{% url 'admin:index' %}"><img src="{% static './images/q-city-main.jpg' %}" style="width: 100px; height: 61px; border-radius: 3px" alt="">
Q - CITY</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}